@use 'template';

.aura-btn-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;

    &.column {
        flex-direction: column;
    }

    &.center {
        align-items: center;
        justify-content: center;
    }

    &.end {
        justify-content: end;
    }
}

.aura-btn {
    border: solid 1px var(--backgroundColor);
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    @include template.typo(SFProDisplay, 400, 16px, 20px, var(--black), normal, var(--bodyTextFont));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &::before {
        content: '';
        border-left: 12px solid transparent;
    }

    &::after {
        content: '';
        border-right: 12px solid transparent;
    }

    &:disabled,
    &[disabled] {
        filter: opacity(0.7);
    }

    &:hover:enabled {
        filter: opacity(0.9);
    }

    /*---start shapes---*/
    &.pill {
        border-radius: 24px !important;
    }

    &.rounded {
        border-radius: 8px !important;
    }

    /*---end shapes---*/

    /*---start size---*/
    &.large {
        height: 44px;
    }

    &.medium {
        height: 36px;
    }

    &.small {
        height: 18px;
    }

    /*---end size---*/

    /*---Variant---*/
    &.primary {
        background: var(--buttonColor);
        color: var(--bodyTextColor);

        i {
            color: var(--bodyTextColor);
        }
    }

    &.secondary {
        border: solid 1px var(--bodyTextColor);
        background: var(--backgroundColor);
        color: var(--bodyTextColor);

        i {
            color: var(--bodyTextColor);
        }
    }

    &.tertiary {
        border: solid 1px var(--gray-900);
        background: var(--backgroundColor);
        color: var(--white);

        i {
            color: var(--white);
        }

        &.success {
            border: solid 1px var(--green-300);
            color: var(--green-300);

            i {
                color: var(--green-300);
            }
        }

        &.alert {
            border: solid 1px var(--red-300);
            color: var(--red-300);

            i {
                color: var(--red-300);
            }
        }
    }

    &.ghost {
        background-color: transparent;
        color: var(--linkColor);

        i {
            color: var(--linkColor);
        }

        &:hover:enabled {
            filter: opacity(0.9);
            text-decoration: underline;

            i {
                text-decoration: none;
            }
        }
    }

    &.only-icon {
        background-color: var(--backgroundColor);
        width: 1em;
        height: 1em;
        border-radius: 50%;

        &::before {
            content: '';
            border-left: none;
        }

        &::after {
            content: '';
            border-right: none;
        }

        i {
            color: var(--white);
        }

        &.primary {
            background-image: none;
            background-color: var(--buttonColor);

            i {
                background: var(--bodyTextColor);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &.secondary {
            i {
                color: var(--bodyTextColor);
            }
        }

        &.large {
            width: 44px;
            height: 44px;
        }

        &.medium {
            width: 36px;
            height: 36px;
        }

        &.small {
            width: 18px;
            height: 18px;
        }
    }

    /*---end Variant---*/

}