@use 'template';

//toolbar navbar
.mat-toolbar {
    background-color: var(--navigationBackgroundColor) !important;
    color: var(--navigationTextColor) !important;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 60%);
    position: relative;
    z-index: 99;

    .mat-toolbar-row {
        height: 100px;
    }

    .mat-drawer-inner-container {
        background-color: var(--navigationBackgroundColor);
        color: var(--navigationTextColor);
    }

    .logo {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        overflow: hidden;
        // @include template.border-outline-gradient(--gradient-general);

        img {
            width: 68px;
            height: 68px;
        }
    }

    .nav-item-link {
        font-family: var(--headingTextFont) !important;
        color: var(--navigationTextColor) !important;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        padding: 0 20px;
        cursor: pointer;

        &:hover {
            filter: opacity(0.9);
        }

        &.active {}
    }

    .line {
        background-color: var(--gray-900);
        width: 1px;
        height: 45px;
        margin: 0 30px;
    }
}

//sidenav
.mat-drawer {
    width: 100%;
}