%outline-gradient {
    border: solid 1px transparent;
    background-image: var(--gradient-general);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

//border

%border-outline-gradient {
    border: solid 1px transparent;
    background-image: var(--gradient-general);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@mixin border-outline-gradient($type, $bgColor: var(--black), $border: 2px) {
    border: solid $border transparent;

    @if $type=='--gradient-artaverse' {
        background-image: linear-gradient($bgColor, $bgColor),
            linear-gradient(108.46deg, var(--gradient-4) 12.51%, var(--gradient-5) 51.13%, var(--gradient-6) 87.49%);
    }

    @else if $type=='--gradient-planet' {
        background-image: linear-gradient($bgColor, $bgColor),
            linear-gradient(180deg, var(--gradient-7) 0%, var(--gradient-8) 100%);
    }

    @else {
        background-image: linear-gradient($bgColor, $bgColor),
            linear-gradient(108.46deg, var(--gradient-1) 12.51%, var(--gradient-2) 51.13%, var(--gradient-3) 87.49%);
    }

    background-origin: border-box;
    background-clip: content-box,
    border-box;
}


//typo
@mixin typo($fontFamily, $fontWeight, $fontSize, $lineHeight, $color, $letterSpacing, $fontStyle) {
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    letter-spacing: $letterSpacing;
}

%text-gradient {
    background: var(--gradient-general);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}