%outline-gradient {
    border: solid 1px transparent;
    background-image: var(--gradient-general);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

//border

%border-outline-gradient {
    border: solid 1px transparent;
    background-image: var(--gradient-general);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@mixin border-outline-gradient($color, $borderRadius: 2px) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 10px;
        background: var($color);
    }
}


//typo
@mixin typo($fontFamily, $fontWeight, $fontSize, $lineHeight, $color, $letterSpacing, $fontStyle) {
    font-family: $fontFamily;
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
    letter-spacing: $letterSpacing;
}

%text-gradient {
    background: var(--gradient-general);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}