@use 'template';
@import 'responsive.scss';

h1,
.h1 {
    @include template.typo(var(--headingTextFont), 800, 96px, 110px, var(--headingTextColor), auto, normal);
}

h2,
.h2 {
    @include template.typo(var(--headingTextFont), 700, 64px, 72px, var(--headingTextColor), auto, normal);
}

h3,
.h3 {
    @include template.typo(var(--headingTextFont), 700, 48px, 52px, var(--headingTextColor), auto, normal);
}

h4,
.h4 {
    @include template.typo(var(--headingTextFont), 700, 32px, 40px, var(--headingTextColor), auto, normal);
}

h5,
.h5 {
    @include template.typo(var(--headingTextFont), 700, 24px, 28px, var(--headingTextColor), 0.02em, normal);
}

h6,
.h6 {
    @include template.typo(var(--headingTextFont), 700, 20px, 24px, var(--headingTextColor), 0.02em, normal);
}

/*----Text---*/
.body {
    &-xl-r {
        @include template.typo(var(--bodyTextFont), 400, 24px, 28px, var(--bodyTextColor), normal, normal);
    }

    &-xl-b {
        @include template.typo(var(--bodyTextFont), 700, 24px, 28px, var(--bodyTextColor), normal, normal);
    }

    &-l-r {
        @include template.typo(var(--bodyTextFont), 400, 22px, 26px, var(--bodyTextColor), normal, normal);
    }

    &-l-sb {
        @include template.typo(var(--bodyTextFont), 590, 22px, 26px, var(--bodyTextColor), normal, normal);
    }

    &-m-r {
        @include template.typo(var(--bodyTextFont), 400, 16px, 24px, var(--bodyTextColor), normal, normal);
    }

    &-m-sb {
        @include template.typo(var(--bodyTextFont), 590, 16px, 24px, var(--bodyTextColor), normal, normal);
    }

    &-s-r {
        @include template.typo(var(--bodyTextFont), 400, 14px, 16px, var(--bodyTextColor), normal, normal);
    }

    &-s-sb {
        @include template.typo(var(--bodyTextFont), 590, 14px, 16px, var(--bodyTextColor), normal, normal);
    }

    &-xs-r {
        @include template.typo(var(--bodyTextFont), 400, 12px, 16px, var(--bodyTextColor), normal, normal);
    }

    &-xs-sb {
        @include template.typo(var(--bodyTextFont), 590, 12px, 16px, var(--bodyTextColor), normal, normal);
    }
}

/*----mobile---*/

@include size(mobile) {

    h1,
    .h1 {
        @include template.typo(var(--headingTextFont), 800, 64px, 72px, var(--headingTextColor), auto, normal);
    }

    h2,
    .h2 {
        @include template.typo(var(--headingTextFont), 700, 48px, 56px, var(--headingTextColor), auto, normal);
    }

    h3,
    .h3 {
        @include template.typo(var(--headingTextFont), 510, 32px, 38px, var(--headingTextColor), auto, normal);
    }

    h4,
    .h4 {
        @include template.typo(var(--headingTextFont), 400, 24px, 30px, var(--headingTextColor), auto, normal);
    }

    h5,
    .h5 {
        @include template.typo(var(--headingTextFont), 590, 22px, 26px, var(--headingTextColor), 0.02em, normal);
    }

    /*----Text---*/
    .body {
        &-xl-r {
            @include template.typo(var(--bodyTextFont), 400, 22px, 26px, var(--bodyTextColor), normal, normal);
        }

        &-l-r {
            @include template.typo(var(--bodyTextFont), 400, 16px, 20px, var(--bodyTextColor), normal, normal);
        }

        &-m-r {
            @include template.typo(var(--bodyTextFont), 400, 14px, 16px, var(--bodyTextColor), 0.01em, normal);
        }

        &-s-r {
            @include template.typo(var(--bodyTextFont), 400, 12px, 16px, var(--bodyTextColor), 0.01em, normal);
        }
    }
}

.g-text-gradient {
    background: var(--gradient-general);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.g-text-center {
    margin: 0 auto;
    width: 100%;
}

.g-text-upercase {
    text-transform: uppercase;
}

.g-text-lowercase {
    text-transform: lowercase;
}